* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.header {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid gray;
    background-color: #f3f3f3;
}

.logo--title {
    font-size: 40px;
    color:black;
}

.logo--titletwo {
    font-size: 40px;
    color: #db522e;
}

.navbar {
    align-self: center;
}

.navbar--menu {
    display: flex;
    padding: 0;
}

.navbar--menu li {
    list-style: none;
    justify-self: center;
}

.navbar--menu li a {
    text-decoration: none;
    color: gray;
    padding: 5px 10px
}

.navbar--menu li a:hover {
    background-color: #db522e;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.hero--title {
    text-align: center;
    font-size: 44px;
    padding-top: 10px;
}

.hero--subtitle {
    text-align: center;
    font-size: 28px;
    color:#9b9a97;
}

.hero__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero__card {
    width: 180px;
    height: 310px;
    box-shadow: -2px 1px 14px -3px rgba(0,0,0,0.3);
}

.hero__card img {
    width: 180px;
    height: 200px;
}

.hero__card--titleone {
    color: #6380a1;
    padding: 10px 0px 10px 10px;
}

.hero__card--titletwo {
    color: #669da1;
    padding: 10px 0px 10px 10px;
}

.hero__card--titlethree {
    color: #e2ab53;
    padding: 10px 0px 10px 10px;
}

.hero__card--titlefour {
    color: #db522e;
    padding: 10px 0px 10px 10px;
}

.hero--text {
    font-size: 10px;
    padding: 10px 0px 10px 10px;
}

hr {
    margin: 0 auto;
    width: 160px;
}

.articles__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    
}

.articles__title {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.articles__text {
    font-size: 11px;
    line-height: 25px;
}

.articles__text span {
    font-weight: bold;
    color: #db522e;
    padding-bottom: 20px;
}

small {
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* Organizacion de las columnas donde debo igualar la
muestra propuesta envio commit para continuar con el
aprendizaje de git y refuerzo de css y html*/

.articles__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.button {
    font-size: 13px;
    color: white;
    padding: 5px 20px;
    border-radius: 1px solid gray;
    background-color: black;
    align-content: flex-end;
}

.articles__container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

